Функциональные требования:
-Авторизация пользователя.
-Управление пользователями (CRUD).
-Система ролей.
-Журналирование действий пользователя.
-Сервис позволяет приобретать подписки на различные игры. 
-Сервис будет отображать информацию по играм, состоянием заказов, корзиной, компаниям, разработчикам, пользователям.
