Функциональные требования:
-Авторизация пользователя.
-Управление пользователями (CRUD).
-Система ролей.
-Журналирование действий пользователя.
-Сервис позволяет приобретать подписки на различные игры. 
-Сервис будет отображать информацию по играм, с указанием статуса игры (скоро доступна, доступна к покупке), корзиной (купить, оформить предзаказ, доступна к загрузке), и пакетам.